{% extends "base.html" %}

{% block title %}Home Security Automation{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>Activity History</h2>
</div>
<div>
        		<div id="grid">
        			<table id="ratesGrid" class="table table-striped table-hover">
        				        <thead>  
          							<tr>
          								<th>Module</th>  
            							<th>Activity</th>
            							<th>Timestamp</th> 
          							</tr>
        						</thead> 
								 <tbody>
								 {% if events is not none %}
								 	{% for vdx in events %}
								        <tr>
								        	<td>{{  vdx['device_name'] }}</td>
								        	<td>{{  vdx['event_name'] }}</td>
								        	<td>{{  vdx['timestamp'] }}</td>
								        </tr>
								     {% endfor %}
								 {% endif %}								        
								 </tbody>        						 
        			</table>
        		</div>
</div>
{% endblock %}